pkgbase = homebrew
	pkgdesc = The Missing Package Manager for macOS (or Linux)
	pkgver = 7.0.4
	pkgrel = 1
	url = https://github.com/homebrew/brew
	install = homebrew.install
	arch = x86_64
	license = BSD-2-Clause
	license = Apache-2.0
	makedepends = sudo
	depends = git
	depends = curl
	depends = zstd
	optdepends = brew-proxy: dbus-activated proxy service for secure setup
	provides = brew
	provides = homebrew
	provides = linuxbrew
	conflicts = brew
	conflicts = brew-git
	conflicts = linuxbrew
	conflicts = linuxbrew-git
	source = ublue-brew::git+https://github.com/ublue-os/brew.git
	source = homebrew::git+https://github.com/homebrew/install.git
	source = install.patch
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 154cbcc12e531db29c53d7f58045a87a9765ff029f3f001d183f8451d78be0fe71c3ab02caeb8a083f17f8e11031e8918b1804dd3d5b0bfcf7376e6e04066419

pkgname = homebrew
