pkgbase = homebrew
	pkgdesc = The Missing Package Manager for macOS (or Linux)
	pkgver = 6.0.5
	pkgrel = 1
	url = https://github.com/Lumaeris/homebrew-arch.git
	install = homebrew.install
	arch = x86_64
	license = BSD-2-Clause AND Apache-2.0
	makedepends = sudo
	makedepends = git
	makedepends = curl
	makedepends = zstd
	depends = git
	depends = curl
	depends = zstd
	optdepends = brew-proxy: dbus-activated proxy service for secure setup
	provides = brew
	conflicts = brew
	conflicts = brew-git
	conflicts = linuxbrew
	conflicts = linuxbrew-git
	source = ublue-brew::git+https://github.com/ublue-os/brew.git
	source = homebrew::git+https://github.com/homebrew/install.git
	source = install.patch::https://github.com/secureblue/homebrew/raw/f52ad9f26510667e467f17c2f330da68a870e592/homebrew-install.patch
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 264e1e0a3c807ebce43e918ac1172f37ef6a0934dc0f2a17bd2327b79fc6ba00e1718ec0fc2bc25113650a89b4f4dd4548a87a9f13537b9e6410ab9e98787b2a

pkgname = homebrew
