pkgbase = brew-proxy
	pkgdesc = DBus-activated proxy service for a more secure Homebrew setup on Linux
	pkgver = 0.3.6
	pkgrel = 1
	url = https://codeberg.org/HastD/brew-proxy
	install = brew-proxy.install
	arch = x86_64
	license = Apache-2.0
	license = CC0-1.0
	license = MIT
	makedepends = meson
	makedepends = cargo
	makedepends = rust
	source = https://codeberg.org/HastD/brew-proxy/archive/v0.3.6.zip
	source = 40-brew-proxy.preset
	sha512sums = 14f9590d64d3a936e8d3126ba99c31828404e40cfa496a0497daf6ee030196455cbfdf1209fb9b2f03bda778ff22ed894468937afffc5d1d622c5381ef1a338f
	sha512sums = f2c8e680a27a158c1c9980c6e64e6eeccf43cd6efe89f362409f51f9fb8f19c57cd390285e5c12f8a3188dff432bcda800270b1bea24bb7fd5927f5f238a334b

pkgname = brew-proxy
	depends = homebrew
	depends = dbus
	depends = polkit
